{% load bootstrap4 %}
{% load static %}
<link href="{% static 'visual_logs/css/footer.css' %}" rel="stylesheet">
<!doctype html>
<html lang="en">
  <head>
    <meta charset = "utf-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1, 
        strink-to-fit=no">
    <title>Visual Log</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light mb-4 border" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="{% url 'visual_logs:index'%}">
        <img src="{% static 'visual_logs/img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        Data Visual
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarCollapse" aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'visual_logs:topics'%}">Topics</a>
          </li>
        </ul>
        <ul class="nav nav-pills">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <span class="navbar-text" style="padding-right: 15px;">Hello, {{ user.username }}.</span>
            </li>
            <li class="nav-item">
              <a class="nav-link btn btn-primary btn-sm active" role="button" href="{% url 'users:logout' %}">Log out</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link btn btn-primary btn-sm active" role="button" href="{% url 'users:login' %}">Log in</a>
            </li>
          {% endif %}
        </ul>
      </div>
  
    </nav>
  
    <main role="main" class="container">
      <div class="pb-2 mb-2 border-bottom">
        {% block page_header %}{% endblock page_header %}
      </div>
      <div>
        {% block content %}{% endblock content %}
      </div>
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">&copy; Data Visual Log. All rights reserved.</span>
      </div>
    </footer>
  </body>

  
</html>


