{% extends "visual_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h3>Add a new entry in <a href="{% url 'visual_logs:topic' topic.id %}">{{ topic }}</a></h3>
{% endblock page_header %}

{% block content %}

  <p>Text a new entry:</p>
  <form action="{% url 'visual_logs:new_entry' topic.id %}" method='post' class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button name='submit' class="btn btn-outline-primary">Add entry</button>
    </div>
    {% endbuttons %}
  </form>
    
{% endblock content %}
